<a href="https://colab.research.google.com/github/deva285/data-analytics-dn/blob/main/hr_mini_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
!ls -ltr /content/drive/MyDrive/dataset/dataset_csv/

total 52
dr-x------ 2 root root 4096 Feb 26  2022 dataset-titanic
dr-x------ 2 root root 4096 Feb 26  2022 dataset-powerlifting-csv
dr-x------ 2 root root 4096 Feb 26  2022 dataset_open_crime_uk
dr-x------ 2 root root 4096 Feb 26  2022 dataset-google-scholar
dr-x------ 2 root root 4096 Feb 26  2022 dataset_ebola
dr-x------ 2 root root 4096 Feb 26  2022 dataset-domestic-flights-from-1990-to-2009
dr-x------ 2 root root 4096 Feb 26  2022 dataset-covid-2
dr-x------ 2 root root 4096 Feb 26  2022 dataset-covid
dr-x------ 2 root root 4096 Feb 26  2022 dataset-airports
dr-x------ 2 root root 4096 Mar  5  2022 dataset-world-economy-worldbank
dr-x------ 2 root root 4096 Jun 21  2023 dataset-hr
dr-x------ 2 root root 4096 Nov 11  2023 dataset-forest-fire
dr-x------ 2 root root 4096 Jul 10 17:07 dataset-museum-artifacts

In [30]:
import csv
import re
import traceback
from tabulate import tabulate
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from IPython.core.interactiveshell import InteractiveShell # Capitalize 'I' in 'IPython'
InteractiveShell.ast_node_interactivity = "all"

In [34]:
df= pd.read_csv("/content/drive/MyDrive/dataset/dataset_csv/dataset-hr/HR_comma_sep.csv")
df.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

1.**How** many employees in each of the department (use column "sales")

In [42]:
department_employee_count = df.groupby('sales').size().reset_index(name='num_employees')
department_employee_count.insert(0,("") , range(1, len(department_employee_count) + 1))
print("  employees in each of the department ")
print(tabulate(department_employee_count, headers='keys', tablefmt='grid', showindex=False))

  employees in each of the department
+----+-------------+-----------------+
|    | sales       |   num_employees |
+====+=============+=================+
|  1 | IT          |            1227 |
+----+-------------+-----------------+
|  2 | RandD       |             787 |
+----+-------------+-----------------+
|  3 | accounting  |             767 |
+----+-------------+-----------------+
|  4 | hr          |             739 |
+----+-------------+-----------------+
|  5 | management  |             630 |
+----+-------------+-----------------+
|  6 | marketing   |             858 |
+----+-------------+-----------------+
|  7 | product_mng |             902 |
+----+-------------+-----------------+
|  8 | sales       |            4140 |
+----+-------------+-----------------+
|  9 | support     |            2229 |
+----+-------------+-----------------+
| 10 | technical   |            2720 |
+----+-------------+-----------------+