<a href="https://colab.research.google.com/github/deva285/data-analytics-dn/blob/main/phyton_cheatsheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from tabulate import tabulate
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os

In [6]:
lst_names = []
lst_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
lst_cities.append("NYC")
lst_age = [10, 20]
lst_age.append(30)
for val in lst_cities:
 print(val)
if"SFO" in lst_cities:
 print("yes")
else:
 print("no")

Bangalore
Chennai
SFO
Beijing
NYC
yes

In [8]:
lst_pets = ["dog", "cat"]
for i, value in enumerate(lst_pets):
 print(f"At index {i}, the value in the list is {value}")

At index 0, the value in the list is dog
At index 1, the value in the list is cat

In [10]:
lst_pets = ["dog", "cat"]
for i, value in enumerate(lst_pets):
 print(f"At index {i}, the value in the list is {len(value)}")

At index 0, the value in the list is 3
At index 1, the value in the list is 3

In [13]:

set_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
set_cities.append("NYC")
set_age = [10, 20]
set_age.append(30)
print(set_cities)
print(set_age)

['Bangalore', 'Chennai', 'SFO', 'Beijing', 'NYC']
[10, 20, 30]

In [15]:
dict_data = {}
dict_data['pet'] = []
dict_data['pet'].append({
    'name': 'Dog',
    'website': 'doggy.com',
    'from': 'England'
})
dict_data['pet'].append({
    'name' : 'giniger',
    'website': 'ramo.com',
    'from': 'Austin'
})
print(dict_data)
print(type(dict_data))

{'pet': [{'name': 'Dog', 'website': 'doggy.com', 'from': 'England'}, {'name': 'giniger', 'website': 'ramo.com', 'from': 'Austin'}]}
<class 'dict'>