<a href="https://colab.research.google.com/github/deva285/data-analytics-dn/blob/main/phyton_cheatsheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from tabulate import tabulate
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os

In [ ]:
lst_names = []
lst_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
lst_cities.append("NYC")
lst_age = [10, 20]
lst_age.append(30)
for val in lst_cities:
 print(val)
if"SFO" in lst_cities:
 print("yes")
else:
 print("no")

Bangalore
Chennai
SFO
Beijing
NYC
yes

In [ ]:
lst_pets = ["dog", "cat"]
for i, value in enumerate(lst_pets):
 print(f"At index {i}, the value in the list is {value}")

At index 0, the value in the list is dog
At index 1, the value in the list is cat

In [ ]:
lst_pets = ["dog", "cat"]
for i, value in enumerate(lst_pets):
 print(f"At index {i}, the value in the list is {len(value)}")

At index 0, the value in the list is 3
At index 1, the value in the list is 3

In [ ]:

set_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
set_cities.append("NYC")
set_age = [10, 20]
set_age.append(30)
print(set_cities)
print(set_age)

['Bangalore', 'Chennai', 'SFO', 'Beijing', 'NYC']
[10, 20, 30]

In [ ]:
dict_data = {}
dict_data['pet'] = []
dict_data['pet'].append({
    'name': 'Dog',
    'website': 'doggy.com',
    'from': 'England'
})
dict_data['pet'].append({
    'name' : 'giniger',
    'website': 'ramo.com',
    'from': 'Austin'
})
print(dict_data)
print(type(dict_data))

{'pet': [{'name': 'Dog', 'website': 'doggy.com', 'from': 'England'}, {'name': 'giniger', 'website': 'ramo.com', 'from': 'Austin'}]}
<class 'dict'>

In [ ]:
dict_course ={'Sub':'Evs','Topic':'Globa warming','Level':'Easy'}
print(dict_course)
print(type(dict_course))

{'Sub': 'Evs', 'Topic': 'Globa warming', 'Level': 'Easy'}
<class 'dict'>

In [ ]:
print(dict_course['Topic'])

Globa warming

In [ ]:
for key, value in dict_course.items():
  print(value)

Evs
Globa warming
Easy

In [ ]:
lst_pet_types = ["Dog", "Tiger", "Elephant","tycoon"]
c_pet_types = len(lst_pet_types)
print(f"# pet types: {c_pet_types}")
dict_pets = {"name": "Dog", "age": 2}
c_pets = len(dict_pets)
print(f"# pets: {c_pets}")
dict_pets = {"pets": [{"name": "Dog", "age": 2}, {"name": "Dog", "age": 2}]}
dict_p_h = {"pets": [{"name": "Dog", "age": 2}, {"name": "Dog", "age": 2}],
            "persons": [{"name": "rava", "age": 20}, {"name": "jason", "age": 14}]}
c_pets, c_humans = len(dict_pets), len(dict_p_h)
print(f"# pets: {c_pets} ; # humans: {c_humans}")
lst_keys = [*dict_p_h]
lst_values = [*dict_p_h.values()]
print(f"# keys: {len(lst_keys)} | # values: {len(lst_values)}")
print(f"keys: {lst_keys} | values: {lst_values}")

# pet types: 4
# pets: 2
# pets: 1 ; # humans: 2
# keys: 2 | # values: 2
keys: ['pets', 'persons'] | values: [[{'name': 'Dog', 'age': 2}, {'name': 'Dog', 'age': 2}], [{'name': 'rava', 'age': 20}, {'name': 'jason', 'age': 14}]]

In [ ]:
txt = " Moscow "
str_clean = txt.strip()
print(f"From weather report, {str_clean} is too cold most of the times")

From weather report, Moscow is too cold most of the times

In [ ]:
import csv

In [ ]:
import sys

In [ ]:
print(sys.version)

3.10.12 (main, Jul 29 2024, 16:56:48) [GCC 11.4.0]

In [ ]:
num_person = "10"
print(f"Type of num_person: {type(num_person)}")

Type of num_person: <class 'str'>

In [ ]:
import pandas as pd
lst = {'mech':['ansys','for','stress','analysis']}
df = pd.DataFrame(lst)
print(df)

       mech
0     ansys
1       for
2    stress
3  analysis

In [ ]:
lst_tree= ['mango','apple','banana']
uk=','.join(lst_tree)
print(uk)

mango,apple,banana

In [ ]:
import os
import json


path_in_pet = "data.join"
if os.path.exists(path_in_pet):
  with open(path_in_pet, 'r') as f:
    dict_data = json.load(f)
    print(type(dict_data))
    print(dict_data)
else:
  print("File not found")

File not found

In [ ]:
import pandas as pd

lst_boys = {
    'Sport_boys': [
        {'Name': 'Jake', 'age': 16},
        {'Name': 'Tom', 'age': 18}
    ],
    'Music_boys': [
        {'Name': 'Mike', 'age': 17},
        {'Name': 'John', 'age': 19}
    ]
}

data = []
for Category, boys in lst_boys.items():
    for boy in boys:
        boy['Category'] = Category
        data.append(boy)

df = pd.DataFrame(data)
print(df)

   Name  age    Category
0  Jake   16  Sport_boys
1   Tom   18  Sport_boys
2  Mike   17  Music_boys
3  John   19  Music_boys

In [ ]:
import pandas as pd
data = {'name': ['selva', 'Santhom', 'Lokesh'],
        'age': [34, 20, 80]}
df = pd.DataFrame(data)
df["age_normalized"] = df["age"] / df["age"].max()
print(df)

      name  age  age_normalized
0    selva   34           0.425
1  Santhom   20           0.250
2   Lokesh   80           1.000

In [ ]:
import re

in_str = "The prices are 1000 and 2023 dollars."

str_clean = re.sub(r'\d+', '-', in_str)

print(str_clean)

The prices are - and - dollars.

In [ ]:
import pandas as pd

data = {
    'State': ['Texas', 'Texas', 'California', 'California', 'New York', 'New York', 'Texas', 'California'],
    'Age Group': ['18-24', '25-34', '18-24', '25-34', '18-24', '25-34', '35-44', '35-44']
}
df = pd.DataFrame(data)

df_age_group_count = (
    df.groupby(['State', 'Age Group'])
    .size()
    .to_frame('count')
    .reset_index()
)

df_sorted = df_age_group_count.sort_values(by=['State', 'count'], ascending=[True, False])

df_sorted['rank'] = df_sorted.groupby('State')['count'].rank(ascending=False, method='min')

df_sorted['pct_rank'] = df_sorted.groupby('State')['count'].rank(pct=True) * 100

print(df_sorted)

        State Age Group  count  rank   pct_rank
0  California     18-24      1   1.0  66.666667
1  California     25-34      1   1.0  66.666667
2  California     35-44      1   1.0  66.666667
3    New York     18-24      1   1.0  75.000000
4    New York     25-34      1   1.0  75.000000
5       Texas     18-24      1   1.0  66.666667
6       Texas     25-34      1   1.0  66.666667
7       Texas     35-44      1   1.0  66.666667

In [ ]:
import pandas as pd

lst_boys = {
    'Sport_boys': [
        {'Name': 'raju', 'age': 16},
        {'Name': 'jangi', 'age': 18}
    ],
    'Music_boys': [
        {'Name': 'Megan', 'age': 17},
        {'Name': 'ninja', 'age': 19}
    ]
}

data = []
for Category, boys in lst_boys.items():
    for boy in boys:
        boy['Category'] = Category
        data.append(boy)

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

df.rename(columns={
    'Name': 'Boy_Name',
    'age': 'Boy_Age',
    'Category': 'Interest_Category'
}, inplace=True)

print("\nDataFrame with Renamed Columns:")
print(df)

Original DataFrame:
    Name  age    Category
0   raju   16  Sport_boys
1  jangi   18  Sport_boys
2  Megan   17  Music_boys
3  ninja   19  Music_boys

DataFrame with Renamed Columns:
  Boy_Name  Boy_Age Interest_Category
0     raju       16        Sport_boys
1    jangi       18        Sport_boys
2    Megan       17        Music_boys
3    ninja       19        Music_boys